body {
  height:100%;
  
	color: #fff;
	font-family: "Helvetica";
  letter-spacing: 0.2em;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  background: linear-gradient(160deg, black, blue 30%, green);
  
	  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}

.footer {
  text-align: center;
  position: absolute;
  width:100%;
  height:1em;
  bottom:0;
  margin: auto;
  opacity: 0.6;
}
