html {
	background: linear-gradient(160deg, black, blue, green);
}

body {
	color: #fff;
	font-family: "Helvetica Neue";
  text-transform: uppercase;
  margin: auto;
  position: relative;

}

.footer {
  text-align: center;
  
letter-spacing: 0.6vw;

  font-weight: 200;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;

  margin: auto;
  
  min-height: 4vh;
  max-height: 10vh;
  
  	  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  	max-width: 100vh;
	min-height: 96vh;

  padding-right: 1vw; /* 3 */
  padding-left:  1vw; /* 3 */
}
