html {

}

body {
	color: #fff;
	background: linear-gradient(160deg, black, blue 30%, green);
	font-family: "Helvetica Neue";
  text-transform: uppercase;
  margin: auto;
  position: relative;
  max-width: 100vh;

}

.footer {
  text-align: center;
  
letter-spacing: 1vh;
  font-weight: 200;
  /* text-shadow: 1.5px 1.5px black; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;

  margin: auto;
  
  height: 2em;
  
  	  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  /* max-width: 960px; /* 2 */
	min-height: 96vh;

  padding-right: 1vw; /* 3 */
  padding-left:  1vw; /* 3 */
}
