
/*     BEGIN FONTS     */

/*

@font-face {
    font-family: 'freesans';
    src: url('fonts/freesans.woff2') format('woff2'),
         url('fonts/freesans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freemono';
    src: url('fonts/freemono.woff2') format('woff2'),
         url('fonts/freemono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freeserif';
    src: url('fonts/freeserif.woff2') format('woff2'),
         url('fonts/freeserif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 

@font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('fonts/AkzidenzGrotesk.woff2') format('woff2'),
        url('fonts/AkzidenzGrotes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkzidenzGrotesk-Extended';
    src: url('fonts/AkzidenzGroteskBE-Ex.woff2') format('woff2'),
        url('fonts/AkzidenzGroteskBE-Ex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*/

/*     END FONTS     */

/* @media all and font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

/*
@media all and (min-width: 540px) { section { font-size: 32px;} }
@media all and (max-width: 539px) { section { font-size: 16px;} }
*/

/*

@media screen and (min-width: 15em) { h { font-size: calc( 1.75em + (4.75 - 1.75) * (100vw - 25em) / (75 - 15) ); } }

*/

/*	DISABLE LINK DECORATION	*/
a:link {color:inherit;text-decoration:none;}
a:visited {color:inherit;text-decoration:none;}
a:hover {color:inherit;text-decoration:none;}
a:active {color:inherit;text-decoration:none;}

section a:hover {color:inherit;text-decoration:underline;}

@media (hover:hover) {
section a:hover {color:inherit;text-decoration:underline;}
}
 /*
::selection {
	background: #ceff00;
	color: #fbfbf8;
}
::-moz-selection {
	background: #ceff00;
	color: #fbfbf8;
}
*/

/*     BEGIN MAIN CONTENT     */

html {
	box-sizing:border-box;
	height:100%;
}

body {
	color:#000;
	display:flex;
	flex-direction:column;
	min-height:100vh;
	height:100%;
	margin:auto 1em auto 1em;
}

header, footer, citation {
	font-family:Arial, sans-serif;
	color:#555;
}

date, citation, citation::after {
	font-size:12px;
	display:inline-block;
	line-height:1.2em;
}

header {
	margin:0.5rem auto auto 0;
	font-size: 2em;
	font-weight:540;
	vertical-align:middle;
}

footer {
	margin: 0.5em auto 0.5em 0;
	font-weight:200;
	vertical-align:middle;
}

section {
	font-family:"Times", serif;
	
	line-height:1.2em;
	text-align:justify;
	flex:1 0 auto;
	display:block;
	font-size:14px;
}

date {
	font-family:monaco, monospace;
	color:#aaa;
}

citation {
}

citation::after {content:"\2002";}