  @media screen and (min-width: 15em) { h { font-size: calc( 1.75em + (4.75 - 1.75) * (100vw - 25em) / (75 - 15) ); }
  }

/*	DISABLE LINK DECORATION	*/
a:link {color:black;text-decoration:none;}
a:visited {color:black;text-decoration:none;}
a:hover {color:black;text-decoration:none;}
a:active {color:black;text-decoration:none;}

section a:hover {background-color:black;color:white;}

::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}

html {
  box-sizing:border-box;
  font-size: 1em;
}

body {
  color:gray;
  display:flex;
  flex-direction:column;
  height:100%;
  height:96vh;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin:0.25em 1em .5em 1em;
  text-align:justify;
  text-transform: uppercase;
}

section a {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  border-left:0.3em solid black;
  margin-right:1em;
  padding-left:0.1em;
  max-height:1em;
}

date{
  font-family:Menlo, monospace;
  font-weight:200;
  color:#a0a0a0;
  wrap:no-wrap;
  margin-right:0.5em;
}

section {
  flex:1 0 auto;
}

header {
  text-align:center;
  margin-bottom:0.25em;
  font-size: 1.5em;
	max-width: 100vmax;
  	font-weight: 800;
}

footer {
  color:black;
  position:relative;
  text-align:left;
  margin-top:0.5em;
  font-weight:200;
  height:1em;
}
