body {
	color: red;
	background-color: black;
	font-family: monospace;
	}

.no-copy p {
	white-space: pre-wrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-khtml-user-select: none;
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */     
}
