  @media screen and (min-width: 15em) { h { font-size: calc( 1.75em + (4.75 - 1.75) * (100vw - 25em) / (75 - 15) ); }
  }

/*	DISABLE LINK DECORATION	*/
a:link {color: inherit; text-decoration: none;}
a:visited {color: inherit; text-decoration: none;}
a:hover {color: inherit; text-decoration: none;}
a:active {color: inherit; text-decoration: none;}

section a:hover {background-color:black;color:white;}

::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}

html {
  box-sizing:border-box;
  font-size: 1em;
}

body {
  display:flex;
  flex-direction:column;
  height:100%;
  height:96vh;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin:0.5em 1em 0.5em 1em;
  text-align:justify;
  text-transform: uppercase;
}

section a {
  border-left:0.4em solid black;
  margin-right:1em;
  padding-left:0.1em;
}

section {
  flex:1 0 auto;
}

header {
  text-align:center;
  margin-bottom:0.25em;
  font-size: 1.5em;
	max-width: 100vmax;
  	font-weight: 800;
}

footer {
  position:relative;
  text-align:left;
  margin-top:0.5em;
  font-weight:200;
  height:1em;
}
