@media screen and (min-width: 15em) { h { font-size: calc( 1.75em + (4.75 - 1.75) * (100vw - 25em) / (75 - 15) ); } }

/*@media all and font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

@media all and (min-width: 540px) { section { font-size: 32px;} }
@media all and (max-width: 539px) { section { font-size: 16px;} }

/*@media all and (min-width: 600px) { h { font-size: 2em;} }
@media all and (max-width: 599px) { h { font-size: 1em;} }*/



/*	DISABLE LINK DECORATION	*/
a:link {color:black;text-decoration:none;}
a:visited {color:black;text-decoration:none;}
a:hover {color:black;text-decoration:none;}
a:active {color:black;text-decoration:none;}

@media (hover:hover) {
section a:hover {background-color:black;color:white;}
}

::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}

html {
  box-sizing:border-box;
  height:100%;
}

body {
font-size:16px;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  height:100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
 margin:auto 1em auto 1em;
  text-transform: uppercase;
}

section a {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-right:1em;
  max-height:1em;
}


date{
  display:inline-block;
  font-family: Monaco, Menlo, monospace;
  font-weight:200;
  color:#b0b0b0;
  margin-right:0.5em;
}

section {
	flex:1 0 auto;
}


header {
  margin:0.25rem auto auto 0;
  font-size: 2em;
 font-weight:800;
}

footer {
 margin: 0.5em auto 0.5em 0;
  font-weight:200;
}

img {
max-width:100%;
height:auto;
}