/*	MEDIA QUERIES	*/

  @media screen and (min-width: 15em) { h { font-size: calc( 1.75em + (4.75 - 1.75) * (100vw - 25em) / (75 - 15) ); }
  }

/*	DISABLE LINK DECORATION	*/
a:link {color: inherit; text-decoration: none;}
a:visited {color: inherit; text-decoration: none;}
a:hover {color: inherit; text-decoration: none;}
a:active {color: inherit; text-decoration: none;}

* {
  /*	BOX SIZING	*/
    box-sizing: border-box;
/*	DISABLE TEXT SELECTION	*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
  height: 96vh;
  max-width: 100vmax;
  font-size: 16px;
  /*
  color: white;
  background: black;
  */
}

body {
  min-height: 100%;
  
  display: flex;
  flex-direction: column;
  
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

section {
  /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
  max-width: inherit;
	text-align: justify;
  font-weight: 400;

/*	COLUMNS	*/
  -webkit-columns: 3 12em; /* Chrome, Safari, Opera */
     -moz-columns: 3 12em; /* Firefox */
          columns: 3 12em;

  -webkit-column-count: 3; /* Chrome, Safari, Opera */
     -moz-column-count: 3; /* Firefox */
          column-count: 3;
          
  -webkit-column-width: 12em; /* Chrome, Safari, Opera */
     -moz-column-width: 12em; /* Firefox */
          column-width: 12em;
          
 -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
	 column-gap: 1em;
	
  /* COLUMN RULE */
 /* -webkit-column-rule: 1px solid; /* Chrome, Safari, Opera */
 /*  -moz-column-rule: 1px solid; /* Firefox */
/*	column-rule: 1px solid; */
}

img {
  width: 100%;
}

p {
    line-height: 1.2em;
  margin: auto;
  column-break-after: always;
}
  
header, footer {
  text-align: center;
        margin-top: 0.5em;
  margin-bottom: 0.5em;
}

header {
  font-size: 1.5em;
	letter-spacing: 1vw;

	max-width: 100vmax;
  	font-weight: 800;
  
/*  text-shadow: -0.10em 0.04em 0.1em grey; */

}

footer {}

hr {
  color: black;
  background-color: black;
}

/*  COPYRIGHT  */
.copyright {
  letter-spacing: 0.6vw;
	font-weight: 200; 
}
