body {
	color: red;
	background-color: black;
	font-family: monospace;
}

h1 {
	font-size: 10vw;
	text-decoration: underline;
}

.no-copy p {
	height: 100vh;
	width: 100vw;
	white-space: pre-wrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-khtml-user-select: none;
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */     
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
