body {
	color: #f00;
	background-color: #000;
	font-family: monospace;
}

h1 {
	font-size: 10vmax;
	text-decoration: underline;
}

p {
	white-space: pre-wrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-khtml-user-select: none;
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */   
}

.footer {
text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
margin: auto;
  opacity: 0.5;
  
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
}
