/*	MEDIA QUERIES	*/
@media all and (min-width: 2.75em) {h {font-size:0.4em;} }
@media all and (min-width: 6.25em) {h {font-size:0.8em;} }
@media all and (min-width: 12.5em) {h {font-size:1.0em;} }
@media all and (min-width: 18.75em) {h {font-size:1.4em;} }
@media all and (min-width: 25em) {h {font-size:2.0em;} }
@media all and (min-width: 31.25em) {h {font-size:2.6em;} }
@media all and (min-width: 37.5em) {h {font-size:3.2em;} }
@media all and (min-width: 43.75em) {h {font-size:3.6em;} }
@media all and (min-width: 50em) {h {font-size: 4.0em;} }

/*	DISABLE LINK DECORATION	*/
a:link {color: inherit; text-decoration: none;}
a:visited {color: inherit; text-decoration: none;}
a:hover {color: inherit; text-decoration: none;}
a:active {color: inherit; text-decoration: none;}

* {
  /*	BOX SIZING	*/
    box-sizing: border-box;
/*	DISABLE TEXT SELECTION	*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
  height: 100%;
  max-width: 100vmax;
}

body {
  display: flex;
  flex-direction: column;
  
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

section {
  flex: 1 0 auto;
  max-width: inherit;
	text-align: justify;
  
/*	COLUMNS	*/
	  -webkit-columns: 3 12em; /* Chrome, Safari, Opera */
	     -moz-columns: 3 12em; /* Firefox */
              columns: 3 12em;

 -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
         column-count: 3;
          
   -webkit-column-width: 12em; /* Chrome, Safari, Opera */
      -moz-column-width: 12em; /* Firefox */
           column-width: 12em;
          
     -webkit-column-gap: 2vw; /* Chrome, Safari, Opera */
        -moz-column-gap: 2vw; /* Firefox */
             column-gap: 2vw;
}

p {
    line-height: 1.2em;
    margin: auto;
}
  
header, footer {
  text-align: center;
}

header {
	letter-spacing: 1vw;
	font-style: italic;
	max-width: 100vmax;
  	font-weight: 800;
	text-shadow: -0.16em 0.08em 0.16em grey;
}


/*  COPYRIGHT  */
.copyright {
  letter-spacing: 0.6vw;
	font-weight: 400; 
  opacity: 0.5;
}
