@media screen and (min-width: 15em) { h { font-size: calc( 1.75em + (4.75 - 1.75) * (100vw - 25em) / (75 - 15) ); } }

/*@media all and font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

@media all and (min-width: 540px) { section { font-size: 32px;} }
@media all and (max-width: 539px) { section { font-size: 16px;} }

/*	DISABLE LINK DECORATION	*/
a:link {color:inherit;text-decoration:none;}
a:visited {color:inherit;text-decoration:none;}
a:hover {color:inherit;text-decoration:underline;}
a:active {color:inherit;text-decoration:none;}

a:focus {color:inherit;text-decoration:underline;}
@media (hover:hover) {
a:hover {color:inherit;text-decoration:underline;}
}

::selection {
  background: #ceff00;
  /*color: #fbfbf8;*/
}
::-moz-selection {
  background: #ceff00;
  /*color: #fbfbf8;*/
}

html {
  box-sizing:border-box;
  height:100%;
}

header {
  margin:0.25rem auto auto 0;
  font-size: 2em;
 font-weight:800;
}

ticker {
display:block;
}

body {
color:#232323;
background:#f0f0f0;
font-size:16px;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  height:100%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
 margin:auto 1em auto 1em;
  text-transform: uppercase;
}

section {
	display:block;
	line-height:1.5em;
	flex:1 0 auto;
}

section a {
  margin-right:1em;
}

date {
	display:inline-block;
  font-family:Menlo, Consolas, monospace;
  font-weight:200;
  color:#a0a0a0;
  margin:0 0.5em 0 auto;
}

footer {
 margin: 0.5em auto 0.5em 0;
  font-weight:200;

}