body {
	color: black;
	background-color: white;
	font-family: monospace;
}

.no-copy p {
	white-space: pre-wrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-khtml-user-select: none;
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */     
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
