/*	MEDIA QUERIES	*/
@media all and (min-width: 50px) {h {font-size:0.8em;} }
@media all and (min-width: 100px) {h {font-size:1.0em;} }
@media all and (min-width: 200px) {h {font-size:1.4em;} }
@media all and (min-width: 300px) {h {font-size:1.8em;} }
@media all and (min-width: 400px) {h {font-size:2.2em;} }
@media all and (min-width: 500px) {h {font-size:2.6em;} }
@media all and (min-width: 600px) {h {font-size:3.0em;} }
@media all and (min-width: 700px) {h {font-size:3.4em;} }
@media all and (min-width: 800px) {h {font-size:3.6em;} }

/*	DISABLE LINK DECORATION	*/
a:link {color: inherit; text-decoration: none;}
a:visited {color: inherit; text-decoration: none;}
a:hover {color: inherit; text-decoration: none;}
a:active {color: inherit; text-decoration: none;}


* {
/*	BOX SIZING	*/
    box-sizing: border-box;
/*	DISABLE TEXT SELECTION	*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*	MAIN CONTENT, IN DESCENDING ORDER	*/
h {
	font-weight: 800;
	text-shadow: 0.08em 0.02em 0.1em grey;
}

.wrapper {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	margin: auto;
	max-width: 90vw; 
	min-height: 96vh;
	padding-right: 0.8vw;
	padding-left: 0.8vw;
}

header {
	letter-spacing: 1vw;
	font-style: italic;
	max-width: 100vmax;
}

body {
	position: relative;
}

p {
	text-align: justify;
/*	COLUMNS	*/
  -webkit-columns: 3 12em; /* Chrome, Safari, Opera */
     -moz-columns: 3 12em; /* Firefox */
          columns: 3 12em;

  -webkit-column-count: 3; /* Chrome, Safari, Opera */
     -moz-column-count: 3; /* Firefox */
          column-count: 3;
          
  -webkit-column-width: 12em; /* Chrome, Safari, Opera */
     -moz-column-width: 12em; /* Firefox */
          column-width: 12em;
          
 -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
	-moz-column-gap: 1em; /* Firefox */
		 column-gap: 1em;
}

.superfooter {
	column-count: 3;
	column-span: 1;
	max-width: 100vmax;
}

footer {
	letter-spacing: 0.6vw;
	font-weight: 400; 
	opacity: 0.75;
  
	/*position: absolute;*/
	bottom:0;
	left: 0;
	right: 0;
	
	max-width: 100vmax;
}

table {
	padding-left: 0.8vw;
	padding-right: 0.8vw;
    max-width: 90vmax;
    height: 2em;
}

td {
	text-align: center;
	width: 30vmax;

}

